
:root {
    --orange: #CCA57C;
    --gray: #272727;
}
* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('/img/bg_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    font-family: 'Montserrat-Bold';
}

.nav-links {
    color: white;
    cursor: pointer;
    margin: 32px;
}

.nav-links:hover {
    color: var(--orange);
    border-bottom: solid 2px;
    padding-bottom: 14px;
}

.active {
    color: var(--orange);
    margin-bottom: 8px;
    border-bottom: solid 2px;
    padding-bottom: 14px;
}

.nav-logo {
    position: relative;
}

.nav-logo img:first-child {
    opacity: 1;
}

.nav-logo img:last-child {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-logo:hover img:first-child {
    opacity: 0;
}

.nav-logo:hover img:last-child {
    opacity: 1;
}

.hero-title {
    text-align: right;
    color: white;
    font-size: 48px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 200px;
}

.hero-text {
    text-align: right;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 8px;
}

.hero-button {
    text-align: right;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 32px;
    background-color: var(--orange);
    padding: 5px 15px;
    border-radius: 20px;
    border-color: transparent;
}

.hero-button:hover {
    background-color: #c9945c;
}

.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.bg-gray {
    background-color: var(--gray);
}

.about {
    display: flex;
    flex-direction: column;
}

.section-title {
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Montserrat-Bold';
    padding-top: 64px;
}

.section-subtitle {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat-Bold';
    padding-top: 64px;
    padding-left: 128px;
}

.section-text {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    padding-top: 32px;
    padding-left: 128px;
}

.section-citation {
    text-align: right;
    color: var(--orange);
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    padding-top: 32px;
}

.section-img {
    flex-direction: row;
}

.orange {
    color: var(--orange);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/Montserrat-Light.ttf');
}