
:root {
    --orange: #CCA57C;
    --gray: #272727;
    --bg-gray: #606060;
    --border-gray: #272727;
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    background-image: url('/img/bg_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    text-align: center;
}

nav {
    font-family: 'Montserrat-Bold';
}

nav li {
    width: 170px;
}

.nav-links {
    color: white;
    cursor: pointer;
}

.nav-links:hover {
    color: var(--orange);
    border-bottom: solid 2px;
    padding-bottom: 14px;
}

.active {
    color: var(--orange);
    margin-bottom: 8px;
    border-bottom: solid 2px;
    padding-bottom: 14px;
}

.nav-logo {
    position: relative;
}

.nav-logo img:first-child {
    opacity: 1;
}

.nav-logo img:last-child {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-logo:hover img:first-child {
    opacity: 0;
}

.nav-logo:hover img:last-child {
    opacity: 1;
}

.hero-title {
    text-align: right;
    color: white;
    font-size: 48px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 200px;
}

.hero-text {
    text-align: right;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 8px;
}

.hero-button {
    text-align: right;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 32px;
    background-color: var(--orange);
    padding: 5px 15px;
    border-radius: 20px;
    border-color: transparent;
}

.hero-button:hover {
    background-color: #c9945c;
}

.container {
    width: 1300px;
    padding: 0 270;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-gray {
    background-color: var(--gray);
}

.about-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 40px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.about-content {
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.about-section h1 {
    font-size: 36px;
    font-family: 'Montserrat-Bold';
    color: #eee;
    text-align: right;
    flex-direction: column;
}

.about-section .highlight {
    color: var(--orange); 
}

.about-content h2 {
    font-size: 24px;
    margin: 20px 0;
    font-family: 'Montserrat-Bold';
    color: white;
}

.about-content p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.8;
    color: white;
    font-family: 'Montserrat-Light';
    font-weight: bold;
}

blockquote {
    font-size: 16px;
    color: #d4a373;
    border-left: 4px solid var(--orange);
    font-size: 12px;
    padding-left: 20px;
    margin: 20px 0;
    line-height: 1.8;
    font-family: 'Montserrat-Bold';
}

.about-image {
    max-width: 35%;
    position: relative;
    padding-top: 10%;
    padding-left: 8%;
}

.about-image img {
    width: 100%;
    border-radius: 5px;
}

.image-caption {
    text-align: center;
    background-color: var(--orange);
    color: var(--gray);
    padding: 6px 20px;
    font-size: 16px;
    position: absolute;
    bottom: 6px;
    left: 57%;
    transform: translateX(-50%);
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: left;
    padding-left: 40px;
}

.text-center {
    text-align: center;
}

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--orange);
}

.projects-section h1 {
    font-size: 36px;
    font-family: 'Montserrat-Bold';
    color: white;
}

.projects-section .highlight {
    color: var(--gray); 
}

.projects-content {
    display: flex;
    flex-direction: row;
}

.projects-concerts {
    display: flex;
}

.concert-paris {
    background-image: url('img/paris.jpg');
    flex-direction: row;
    width: 250px;
    background-repeat: no-repeat;
    height: 350px;
}

.concert-london {
    background-image: url('img/london.jpg');
    flex-direction: row;
    background-repeat: no-repeat;
    width: 250px;
    height: 350px;
}

.concert-date {
    padding: 10px;
    color: white;
    width: 60%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    background-color: var(--border-gray);
    margin: 24px;
    margin-top: 224px;
}

.projects-concerts h1 {
    font-size: 24px;
    font-family: 'Montserrat-Bold';
    color: white;
    padding-top: 12px;
    padding-left: 24px;
    text-align: left;
}

.projects-concerts .highlight {
    color: var(--orange); 
}

.years {
    background-image: url('img/logo12.png');
    width: 160px;
    height: 145px;
}

.projects-info {
    display: flex;
    flex-direction: column;
}

h1[class="project-title"] {
    margin-top: 38px;
    font-size: 22px;
    font-family: 'Montserrat-Bold';
    color: var(--gray);
}

.project-title .highlight {
    color: white;
}

.projects-info p {
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.8;
    color: var(--gray);
    font-family: 'Montserrat-Light';
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/Montserrat-Light.ttf');
}