
:root {
    --orange: #CCA57C;
    --gray: #272727;
    --bg-gray: #606060
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-gray);
}

header {
    background-image: url('/img/bg_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    font-family: 'Montserrat-Bold';
}

.nav-links {
    color: white;
    cursor: pointer;
    margin: 32px;
}

.nav-links:hover {
    color: var(--orange);
    border-bottom: solid 2px;
    padding-bottom: 14px;
}

.active {
    color: var(--orange);
    margin-bottom: 8px;
    border-bottom: solid 2px;
    padding-bottom: 14px;
}

.nav-logo {
    position: relative;
}

.nav-logo img:first-child {
    opacity: 1;
}

.nav-logo img:last-child {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-logo:hover img:first-child {
    opacity: 0;
}

.nav-logo:hover img:last-child {
    opacity: 1;
}

.hero-title {
    text-align: right;
    color: white;
    font-size: 48px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 200px;
}

.hero-text {
    text-align: right;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 8px;
}

.hero-button {
    text-align: right;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    float: right;
    margin-right: 600px;
    margin-top: 32px;
    background-color: var(--orange);
    padding: 5px 15px;
    border-radius: 20px;
    border-color: transparent;
}

.hero-button:hover {
    background-color: #c9945c;
}

.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.bg-gray {
    background-color: var(--gray);
}
.about-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--gray);
}

.about-content {
    max-width: 60%;
}

.about-content h1 {
    font-size: 36px;
    font-family: 'Montserrat-Bold';
    color: #eee;
    text-align: right;
}

.about-content .highlight {
    color: var(--orange); /* Goldish color */
}

.about-content h2 {
    font-size: 24px;
    margin: 20px 0;
    font-family: 'Montserrat-Bold';
    color: white;
}

.about-content p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.8;
    color: white;
    font-family: 'Montserrat-Light';
    font-weight: bold;
}

blockquote {
    font-size: 16px;
    color: #d4a373;
    border-left: 4px solid var(--orange);
    font-size: 12px;
    padding-left: 20px;
    margin: 20px 0;
    line-height: 1.8;
    font-family: 'Montserrat-Bold';
}

.about-image {
    max-width: 35%;
    position: relative;
    padding-top: 14%;
}

.about-image img {
    width: 100%;
    border-radius: 5px;
}

.image-caption {
    text-align: center;
    background-color: var(--orange);
    color: var(--gray);
    padding: 10px 0;
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: left;
    padding-left: 40px;
}

.text-center {
    text-align: center;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/Montserrat-Light.ttf');
}